.body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.barra-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    max-width: 17%;
    border-width: 25%;
    border-color: black;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.dados-perfil {
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-top: %;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}


.card {
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0px 2px 23px;
}

.media-card {
    background: url(https://preview.redd.it/v5wpwfeedab11.jpg?auto=webp&s=be63fd9c62622f63cda75f25813850baee9a481b;) center/cover;
    height: 100%;
    width: 100%;
}

.title {
    color: #2b3d59;
}

.top-card {
    padding: 20px;
}

.bottom-card {
    padding: 20px;
}

.actions {
    background: none;
    border: none;
    color: purple; 
}

form{
    margin-right: 1%;
}

.sequestradores {
    margin-top: 5%;
    padding-top: 4%;
    font-size: 25px;
}

span {
    font-weight: 535;
}